<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>修改</title>
</head>
<body>
<form action="/doedit/<%=name%>" method="get">
    <p>书名：
    <input type="text" name="name" value="<%=name%>"/>
    </p>
    <p>作者:
    <input type="text" name="author" value="<%=author%>"/>
    </p>    
    <p>价格：
    <input type="text" name="price" value="<%=price%>"/>
    </p>    
    <p>
    <input type="submit" value="提交"/>
    </p>
</form>
</body>
</html>